on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:
    inputs:
      tag_version:
        description: "Docker image tag (e.g., 1.0.0) Note: not for GIT tags[test purpose]"
        required: true
        type: string
jobs:
  jobname:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run a simple script
        run: echo "Hello, world! This is a GitHub Actions demo."

      - name: Get image tag
        id: get_tag
        run: |
          if [[ "${{ github.event_name }}" == "push" ]]; then
            echo "TAG=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT
          elif [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            echo "TAG=${{ github.event.inputs.tag_version }}" >> $GITHUB_OUTPUT
          fi

      - name: Build & Tag Docker image
        run: |
          IMAGE="yourdockerusername/your-image"

          echo "your_docker_repo/your_image_name:${{ steps.get_tag.outputs.TAG }}"
