on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:
    inputs:
      version:
        description: "Version (SemVer: X.Y.Z)"
        required: true
jobs:
  jobname:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run a simple script
        run: echo "Hello, world! This is a GitHub Actions demo."
      #New Name
      - name: Extract version from tag
        id: version
        run: |
          RAW_TAG=${GITHUB_REF#refs/tags/}
          CLEAN_TAG=${RAW_TAG#v}
          echo "raw=${RAW_TAG}" >> $GITHUB_OUTPUT
          echo "clean=${CLEAN_TAG}" >> $GITHUB_OUTPUT

      - name: Build & Tag Docker image
        run: |
          IMAGE="yourdockerusername/your-image"

          echo "$IMAGE:${{ steps.version.outputs.raw }}"
          echo "$IMAGE:${{ steps.version.outputs.clean }}"
          echo "$IMAGE:latest"
