on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'
jobs:
  jobname:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run a simple script
        run: echo "Hello, world! This is a GitHub Actions demo."
